@page "/"

@inject IProductGraphClient _client

<h1>CarvedRock Webshop</h1>

These products might be of interest to you.
<br />
<RadzenButton Text="Hello" />

<RadzenDataList WrapItems="true" AllowPaging="true" Data="@products" TItem="ProductModel">
    <Template Context="product">
        <RadzenCard Style="width: 300px;">
            <div class="product-title">@product.Name</div>
            <div class="row">
                <div class="col-md-6">
                    <RadzenImage Path="https://via.placeholder.com/100x150.png?text=Photo+goes+here" />
                </div>
                <div class="col-md-6">
                    <b>$@product.Price</b>
                    <b>@product.Rating</b>
                </div>
            </div>
            
        </RadzenCard>
    </Template>
</RadzenDataList>

@code {

    private IEnumerable<ProductModel> products;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Before getting products");
        products = await _client.GetProducts();
        Console.WriteLine(products);
        Console.WriteLine("Wrote Products");
    }

}